{% extends "base.html" %}	

{% block content1 %}

	<h3 class="section-name">
		<span>
			Connectez vous avec vos identifiants pour accéder à vos casiers !
		</span>
	</h3><!-- /.section-name -->

{% endblock %}

{% block menu1 %}
Login
{% endblock %}
{% block menuref1 %}
#page-top2
{% endblock %}


{% block section1 %}

{% load crispy_forms_tags %}
{% load static %}

<section id="page-top2" class="section-style" data-background-image="{% static 'images/background/page-top2.jpg' %}">
		<div class="pattern height-resize">
			<div class="container">
				<h2 class="section-title">Login</h2>
				<form class="form-horizontal" action="{% url 'login' %}" method="post">
					{% if error %}
					<p class="error"><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
					<!-- To Do : Demande de mot de passe -->
					{% endif %}
					
					{% if user.is_authenticated %}
					<p class="section-description">
						<strong>Vous êtes bien connecté</strong></br>
					</p><!-- /.section-description -->
					
					{% else %}
						<form action="{% url 'login' %}" method="post">
						  {% csrf_token %}
						  {% crispy form %}
				   
					{% endif %}
				</form>

				<div class="next-section">
					<a class="go-to-subscribe"><span></span></a>
				</div><!-- /.next-section -->
			</div>
		</div>
</section>


{% endblock %}
 
